{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body_id app.request.get('_route') %}

{% block body %}


    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-10 col-12 mx-auto">
                <div class="card">
                    <div class="card-body">

                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}

                        <h1>Register</h1>

                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button class="btn btn-primary">{{ 'security.register.form.button.submit'|trans }}</button>
                        {{ form_end(registrationForm) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}