{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}



    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-body">

                        <h2>{{ 'security.account.password-change.heading'|trans }}</h2>

                        {{ form_start(form) }}


                        {{ form_row(form.password) }}
                        <button class="btn btn-primary mt-3" type="submit">
                            {{ 'security.account.password-change.button.submit'|trans }}
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
